ion-grid {
    width: 50%;
    ion-row {
        text-align: center !important;
        ion-icon {
            font-size: 72pt;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
