<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card mode="ios">
          <img src="/assets/stock-photos/large_personScanning.jpg" />
          <ion-card-header>
            <ion-card-title>LiveMenu</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button fill="solid" expand="block">Register</ion-button>
            <ion-button fill="outline" expand="block">Log In</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>