[header] {
  font-family: "Arvo";
  font-size: 14pt;
  margin: 0;
  // color: var(--secondary-color);
}

[subhead] {
  font-family: "Arvo";
  font-size: 13pt;
  margin-top: -6px;
  // color: var(--tertiary-color)
}

[price] {
  font-family: "Lato", sans-serif;
  font-size: 13pt;
  font-style: oblique;
  float: right;
  margin-top: 8px;
  margin-right: 8px;
  // color: var(--secondary-color);
}

[sub-category] {
  font-family: "Lato";
  font-size: 11pt;
  padding-left: 6px;
  padding-right: 6px;
  // color: var(--primary-color);
}

[description] {
  font-family: "Lato";
  // color: var(--tertiary-color);
  font-size: 11pt;
  margin-top: 4px;
}

[seperator] {
  color: rgba(151, 151, 151, 50);
  margin-top: 12px;
}


