<ion-header>
  <ion-toolbar app-header>
    <img *ngIf="data?.merchantLogo" src="{{data?.merchantLogo}}" alt="restaurant logo">
    <h1 *ngIf="!data.merchantLogo" style="margin-top: 4rem;">{{merchant}}</h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item no-border>
    <ion-searchbar [(ngModel)]="searchValue" (ionChange)="search($event)" mode="ios"></ion-searchbar>
  </ion-item>

  <ion-segment (ionChange)="segmentChanged($event)" mode="ios" scrollable="true" value="{{defaultSegment}}">
    <ion-segment-button *ngFor="let category of menu" value="{{category.name}}">
      <ion-label>{{category.name}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngFor="let section of shownMenu" menu>
    <ion-label section-header color="primary" [hidden]="hideSections || section.hidden">{{section.name}}</ion-label>
    <menu-item *ngIf="shownMenu" [menu]="section?.items"></menu-item>
  </div>
</ion-content>